page {
	text-align: center;
	background-color: red;
	width: 80%;
}

body {
	font-size: 14px;
	background-color: #96d14a;
	border: 10px solid yellow;
	margin-left: 50px;
	margin-right: 50px;
}

h2 {
    color: brown;
    font-size: 20px;
    text-align: center;
}
h1 {
	color: #2b430d;
	font-size: 40px;
	text-align: center;
}
footer {
	text-align: center;
	background-color: #f2f347;
}
table {
	background-color: #ccf254;
	border: dashed green;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: dotted yellow;
}
entete {
	text-align: center;
}
/*light green : #ace461*/
