html {
	background-image: url("https://imgs.search.brave.com/TS1pAH61B5jv6r0lFBW3IlMmD8NVT_A2SaymobHmbzw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvODA4/NzI2LmpwZw");
	margin-left: 300px;
	margin-right: 300px;
}
body {
	font-size: 14px;
	margin: 0px;
}
div.page {
	border: 10px solid yellow;
	background-color: #96d14a;
	width: 100%;
}

/*en-tête*/
div.entete {
	text-align: center;
	margin-bottom: 50px;
}

/*titres et footer*/
h1 {
	color: #2b430d;
	font-size: 40px;
	text-align: center;
}
h2 {
    color: brown;
    font-size: 20px;
    text-align: center;
}
h3{
	margin: 5px;
}
footer {
	text-align: center;
	background-color: #f2f347;
	margin-bottom: 0px;
}

/*mise en forme du tableau*/
table {
	margin-left: 100px;
	background-color: #ccf254;
	border: dashed green;
}
table, td, th {
	padding: 3px;
}
th, td{
	text-align: left;
	border: 1px solid green;
}

/*mise en forme des images*/
img {
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: stretch;
}
div.Pippin {
	border: dotted yellow;
	padding: 10px;
}
div.row {
  width: 100%;
  display: flex;
  height: auto;
}
div.column {
  flex: 33.33%;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

/*mise en forme de la liste*/
ul{
	margin-left: 100px;
	margin-right: 500px;
	border: dashed green;
	background-color: #ccf254;
	text-align: left;
}

/*mise en avant des form+button*/
div.highlight {
	text-align: center;
	background-color: #ace461;
}

/* progress bar*/
div.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 60.5%;
  background-color: #ace461;
}
.progress-container {
  position: fixed;
  width: 60.5%;
  height: 10px;
  background: #ccc;
}
.progress-bar {
  height: 10px;
  background: #04AA6D;
  width: 0%;
}
